#category-link > a {
    @apply mx-3 
}
#category-link {
    @apply py-3 
}
.label-class {
    @apply block text-sm font-medium text-gray-600
}
.input-class {
    @apply mt-1 p-2 w-full border rounded-md
}
.ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: rgb(230, 227, 227);
}
.ql-container.ql-snow {
    height: 80vh;
}
.ql-editor {
    font-size: 3vh;
    color: rgb(26, 24, 24);
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input {
    outline-width: 1px;
    outline-color: rgb(148, 239, 148);
}